*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.container{
    display: flex;
    width: auto;
    justify-content: space-between;
    height: auto;
}

.form{
    border: solid 1px;
    display: flex;
    flex-direction: column;
    margin: 2%;
    width: 65rem;
    height: auto;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    align-items: center;
    border-radius: 7%;
}


input[type="text"]{
    cursor: text;
    border: transparent;
    margin-top: 10%;
    width: 80%;
    height: 5rem;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

input[type="file"]{
    display: none;
}

label{
    cursor: pointer;
    background-color: white;
    color: gray;
    width: 60%;
    height: 4rem;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    text-transform: uppercase;
    padding-top: 8px;
}

input[type="button"]{
    background-color: lightgreen;
    color: white;
    border-color: white;
    box-shadow:  1px 2px 7px black;
    width: 18rem;
    height: 5rem; 
    border-radius: 15px;
    margin-top: 4%;
    font-size: 18px;
}

textarea{
    width: 45%;
    height: 5rem;
    text-align: center;
    font-size: 18px;
    border-radius: 15px;
    padding: 12px 0 0 0 ;
    resize: none;
    margin-top: 2rem;
}

input[type="submit"]{
    width: 18rem;
    height: 5rem;
    background-color: lightgreen;
    color: white;
    border-color: white;
    box-shadow:  1px 2px 7px black;
    margin-top: 4%;
    border-radius: 15px;
    font-size: 18px;
    display: none;
}



.loading{
    width: 10rem;
    height: 10rem;
    margin: 3rem 0 0 0;
    visibility: hidden;
}



#imagem{
    float: right;
    width: 70rem;
    height: auto;
    margin-top: 4em;
}


.clear{
    clear: both;
}

#receiveForm{
    width: 20rem;
    border: 1px solid black;
    border-radius: 10px;
    height: 15rem;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
    margin-left: 10rem;
    text-align: center;
    position: relative;
}

#keyInput{
    border-radius: 5px;
    border: 1px solid white;
}





    footer{
    width: 100%;
    height: 4em;
    position: fixed;
    bottom: 0;
    padding: 20px 40px;
    background: #865ead;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
}

footer p:nth-of-type(1){
    float: left;
    font-size:12px;
    padding-left: 10px;

}
footer p:nth-of-type(2){
   float: right;
   font-size: 12px;
   padding-right: 10px;
}

footer p:nth-of-type(3) {
    font-size: 12px;

}

@media only screen and (max-width:1024px)
{

    .container{
        display: flex;
        justify-content: space-between;
    }

    #imagem{
        width: 50%;
        height: 30%;
        margin: 15% 0 0 0 ;
    }

    input[type="data-field"]{
        border-radius: 5px;
        border: 1px solid white;
        margin-bottom: 1rem;
        display: none;
    }
    
    .clear{
        clear: both;
    }
    
    #receiveForm{
        border: 1px solid black;
        border-radius: 10px;
        height: 10rem;
        padding: 1rem;
        margin: 1rem;
        margin-top: 3rem;
        text-align: center;
    }
}



@media only screen and (max-width: 1200px)

{
    html, body{
        background-image: none;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) 

{
    
    html, body{
        background-image: none;
        width: 100%;
    }

    
    .header{
        margin: 0;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .header .logo{
        display: none;
    }

    #imagem{
        width: 380px;
        margin: 0;
    }

    .container{
        display: flex;
        justify-content: center;

        flex-direction: column;
        align-items: center;
    }

    .form{
        width: 500px;
    }

    .loading{
        width: 5rem;
        height: 5rem;
        margin: 0 0 0 0;
        
    }
    
    #receiveForm{
        border: 1px solid black;
        border-radius: 10px;
        height: 10rem;
        padding: 1rem;
        margin: 1rem;
        margin-top: 3rem;
        text-align: center;
    }


    footer{
        width: 100%;
        height: 4em;
        position: fixed;
        bottom: 0;
        padding: 20px 40px;
        background: #865ead;
        color: aliceblue;
        display: flex;
        justify-content: space-between;
    }
    
    footer p:nth-of-type(1){
        float: left;
        font-size:12px;
    
    }
    footer p:nth-of-type(2){
    float: right;
    font-size: 12px;
    }

    footer p:nth-of-type(3) {
        font-size: 12px;
    
    }

}


@media only screen and (max-width: 425px) 

{

    html, body{
        height: 750px;
    }

    .header{
        display: flex;
        flex-direction: row;
    }

    #imagem{
        display: flex;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container .form{
        flex-direction: column;
        width: 20em;
        height: 30em;
        align-items: center;
    }

    input[type="text"]{
        cursor: text;
        border: transparent;
        margin-top: 10%;
        width: 80%;
        height: 5rem;
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
    }

    .nome-escolher{
        cursor: pointer;
        background-color: white;
        color: gray;
        width: 65%;
        height: 4rem;
        text-align: center;
        font-size: 12px;
        border-radius: 15px;
        text-transform: uppercase;
        padding-top: 8px;
    }

    #sendBtn{
        font-size: 12px;
        width: 50%;
        height: 4em;
    }

    textarea{
        width: 65%;
        height: 4em;
        padding-top: 5px;
        font-size: 15px;
        
    }

    input[type="submit"]{
        width: 50%;
        height: 4em;
        font-size: 12px;
        background-color: lightgreen;
        color: white;
    }

    input[type="data-field"]{
        border-radius: 5px;
        border: 1px solid white;
        margin-bottom: 1rem;
        
    }
    
    #receiveForm{
        border: 1px solid black;
        border-radius: 10px;
        height: 10rem;
        padding: 1rem;
        margin: 1rem;
        margin-top: 3rem;
        text-align: center;
    }



    footer{
        width: 100%;
        height: 5em;
        top: 990px;
        padding: 20px 40px;
        background: #865ead;
        position: absolute;
        text-align: center;
        display: flex;
        padding: 5%;
    }
    
    footer p:nth-of-type(1){
        font-size: 12px;
        text-align: center;
    
    }
    footer p:nth-of-type(2){
       text-align: center;
       font-size: 10px;

    }

    footer p:nth-of-type(3){
        font-size: 10px;
        text-align: center;
    }
    



}

@media only screen and (max-width: 320px) 

{

    html, body{
        width: 100%;
    }

    .header{
    height:120px;
    width: 320px;
    display: flex;
    flex-direction: column;
    display: none;
    }

    .header a{
        justify-content: center;
        padding: 2px ;
        margin: 20px;
        display: flex;
        width: 50px;
    }



    #imagem{
        width: 300px;
    }


    .container{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .container .form{
        flex-direction: column;
        width: 20em;
        height: 30em;
        align-items: center;
    }

    input[type="text"]{
        cursor: text;
        border: transparent;
        margin-top: 10%;
        width: 80%;
        height: 5rem;
        border-radius: 10px;
        text-align: center;
        font-size: 24px;
    }

    .nome-escolher{
        cursor: pointer;
        background-color: white;
        color: gray;
        width: 65%;
        height: 4rem;
        text-align: center;
        font-size: 12px;
        border-radius: 15px;
        text-transform: uppercase;
        padding-top: 8px;
    }

    #sendBtn{
        font-size: 12px;
        width: 50%;
        height: 4em;
    }

    textarea{
        width: 65%;
        height: 4em;
        padding-top: 5px;
        font-size: 10px;
        
    }

    input[type="submit"]{
        width: 50%;
        height: 4em;
        font-size: 12px;
        background-color: lightgreen;
        color: white;
    }

    #receiveForm{
        border: 1px solid black;
        border-radius: 10px;
        height: 10rem;
        padding: 1rem;
        margin: 1rem;
        margin-top: 3rem;
        text-align: center;
    }



    footer{
        width: 100%;
        height: 6em;
        top: 950px;
        padding: 20px 40px;
        background: #865ead;
        position: absolute;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5%;
    }
    
    footer p:nth-of-type(1){
        font-size: 10px;
        text-align: center;
        align-self: center;
    }
    footer p:nth-of-type(2){
       text-align: center;
       font-size: 10px;

    }

    footer p:nth-of-type(3){
        font-size: 10px;
        text-align: center;
    }
    
}
Footer